@charset "UTF8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

/*@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Passion+One:wght@400;700;900&family=Passions+Conflict&display=swap');*/

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
  --fonte1: Verdana, Geneva, Tahoma, sans-serif;
  --fonte2: 'Passion One', cursive; /*Titulos*/
  --fonte3: 'Sriracha', cursive; /*Conteudos*/
  
}

/*Configurações Gerais - resetando todos os elementos*/
* {
  margin: 0px;
  padding: 0px;  
}

/*480PX - 768PX = TABLET*/
/*768PX - 1024PX = TELAS MENORES, LAPTOPS*/
/*1024PX - 1200PX = DESKTOPS*/
/*1200PX E + PX = TELAS MAIORES, TVS*/

/* Smartphones (600px para baixo) 
@media only screen and (max-width: 600px) {...}

Dispositivos um pouco maiores, mas ainda pequenos (Pequenos Tablets e Smartphones + largos, 600px para cima) 
@media only screen and (min-width: 600px) {...}

/*Dispostivos Médios (Tablets deitados, 768px para cima) 
@media only screen and (min-width: 768px) {...}

 Dispostivos Largos (laptops/desktops, 992px para cima) 
@media only screen and (min-width: 992px) {...}

 Super Largos (Telas maiores laptops, desktops e até TVs, 1200px para cima) 
@media only screen and (min-width: 1200px) {...} */


/*Tamanho minimo da view port, ou seja, 100% da altura da vh*/
html, body {
  background-color:white; /*mudança de fundo da cor darkgray*/
  font-family: var(--fonte1);
  
}

/*Cabeçalho*/
header {
  background-color: black;
  color: white;
  text-align: center;
}

/*Nome: Cordel Moderno*/
  /*text-transform: uppercase;  - Transforma todas as letras em maiusculas*/
  /*small-caps - Todas as letras são maiusculas, mas as primeiras em tamanho maior. */
header > h1 {
  padding-top: 50px;
  font-variant: small-caps; 
  font-family: var(--fonte2); 
   /*font-size: 4em; 10% da largura da tela*/
  /*font-size: 10vw; */
  font-size: 7vw;
  
}

/*paragrafo com o nome do autor - Milton Duarte*/
header > p {
  padding-bottom: 50px;  
  font-size: 2vw;

}

/*Links da pagina*/
header a, footer a {
  color:white;
  text-decoration: none;
  
}

/*Ao passar do mouse*/
header a:hover footer a:hover {
  text-decoration: underline;
}

/*Sessões - todas - 10% da altura da pagina*/
section {
  padding-top: 10vh;
  padding-bottom: 7vh;
  line-height: 2em;
  padding-left: 5px;
  font-family: var(--fonte3);
  font-size: 3vw;
}

/*Sessões - normais*/
section.normal {
  background-color: white;
  color: black;
  padding-top: 20px;
  
}

/*Sessões - normal - paragrafo (pre)*/
section.normal > pre {
  font-family: var(--fonte3);
  padding-left: 25px;
  margin-top: 30px;
  text-align: left;
  font-size: 100%;
  line-height: 2em;
    
}

/*Sessões - imagem*/
/*Sombra interna - box-shadow:inset 6px 6px 13px 0px black;*/
/*background-size: cover; - centralizar, ocupar todo o espaço*/
section.imagem {
  background-color: rgb(42, 41, 41);
  color: white;
  box-shadow:inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
  background-size: cover;
  background-attachment: fixed;
  padding-left: 20px;
  margin-bottom: 10px; /*espaço para última imagem*/  
  
}

/*Sessões - imagem - paragrafo (pre)*/
/*display: inline-block;- traz uma caixa que se alinha ao conteúdo*/
section.imagem > pre {
  display: inline-block;
  padding-right: 30px;
  padding-left: 5px;
  background-color: rgba(0, 0, 0, 0.012);
  font-family: var(--fonte3); 
  text-shadow: 1px 3px 3px black;  
  /*1 3 3 - 1 2 0*/
  font-size: 100%;
  line-height: 2em;
  

}

/*Imagem - Orvalho*/
/*background-position: right center;*/
section#img01 {
  background-image: url('../imagens/background006.jpg');
  background-position: right center;
 
}

/*Imagem - Folha escrita*/
/*background-position: right center;*/
section#img02 {
  background-image: url('../imagens/background002.jpg');
  background-position: center center;
  /*background-position: right center;*/
}

/*Imagem - Bíblia/
/*background-position: right center;*/
section#img03 {
  background-image: url('../imagens/background004_menor.jpg');
  background-position: top 75px left 10px;
  background-position-x: left;  
 
}


/*Rodape*/
footer {
  
  background-color: black;
  color: white;
  text-align: center;
  padding: 5px;
  font-size: 1.7vw;
  /*font-size: 80%;*/
}

@media only screen and (max-width:768px) {
  section.normal > pre, section.imagem >pre {
    font-size:4vw;
   
  }

}
